In [21]:
import pandas  as pd

In [22]:
df=pd.read_csv('data/data.csv')

In [23]:
df.head()

  SystemCodeNumber  Capacity  Occupancy          LastUpdated
0      BHMBCCMKT01       577         61  2016-10-04 07:59:42
1      BHMBCCMKT01       577         64  2016-10-04 08:25:42
2      BHMBCCMKT01       577         80  2016-10-04 08:59:42
3      BHMBCCMKT01       577        107  2016-10-04 09:32:46
4      BHMBCCMKT01       577        150  2016-10-04 09:59:48

In [24]:
df['LastUpdated']=pd.to_datetime(df['LastUpdated'])

In [25]:
df1=df.copy()

In [26]:
df1.dropna()

      SystemCodeNumber  Capacity  Occupancy         LastUpdated
0          BHMBCCMKT01       577         61 2016-10-04 07:59:42
1          BHMBCCMKT01       577         64 2016-10-04 08:25:42
2          BHMBCCMKT01       577         80 2016-10-04 08:59:42
3          BHMBCCMKT01       577        107 2016-10-04 09:32:46
4          BHMBCCMKT01       577        150 2016-10-04 09:59:48
...                ...       ...        ...                 ...
35712         Shopping      1920       1517 2016-12-19 14:30:33
35713         Shopping      1920       1487 2016-12-19 15:03:34
35714         Shopping      1920       1432 2016-12-19 15:29:33
35715         Shopping      1920       1321 2016-12-19 16:03:35
35716         Shopping      1920       1180 2016-12-19 16:30:35

[35717 rows x 4 columns]

In [27]:
df['PercentOccupied'] = df.Occupancy / df.Capacity

In [28]:
df.head()

  SystemCodeNumber  Capacity  Occupancy         LastUpdated  PercentOccupied
0      BHMBCCMKT01       577         61 2016-10-04 07:59:42         0.105719
1      BHMBCCMKT01       577         64 2016-10-04 08:25:42         0.110919
2      BHMBCCMKT01       577         80 2016-10-04 08:59:42         0.138648
3      BHMBCCMKT01       577        107 2016-10-04 09:32:46         0.185442
4      BHMBCCMKT01       577        150 2016-10-04 09:59:48         0.259965

In [29]:




df['LastUpdated'] = df['LastUpdated'].map(lambda x: pd.datetime(2021, x.month, x.day,x.hour,x.minute,x.second))

C:\Users\abhij\AppData\Local\Temp\ipykernel_17524\1184753653.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df['LastUpdated'] = df['LastUpdated'].map(lambda x: pd.datetime(2021, x.month, x.day,x.hour,x.minute,x.second))

In [30]:
pk1=df.loc[df['SystemCodeNumber']=='Others-CCCPS135a']
pk1=pk1.drop(['SystemCodeNumber'],axis=1)

pk1=pk1.drop(['PercentOccupied'],axis=1)

In [31]:
pno='6'
pk1.to_csv('data/parking'+pno+'.csv',index=False)